/*Mig tablet to 1200px*/
@media screen and (max-width: 1200px) {
    html {
        font-size: 16px;
    }

    .heading-main-box {
        transform: translate(-35%, -50%);
    }

    form {
        margin-left: 30%;
    }
}

/*Small tablet to big tablet form 768px to 1023*/
@media screen and (max-width: 1023px) {
    .logo {
        width: 300px;
        margin-left: 40px;
    }

    .main-nav {
        margin-right: 15px;
        margin-top: 45px;
    }

    .main-nav li {
        margin-right: 10px;
    }

    .heading-main-box {
        transform: translate(-25%, -50%);
    }

    .products-section .btn {
        width: 80%;
        margin-left: 10%;
    }

    .product-box {
        width: 95%;
    }

    h3 {
        font-size: 95%;
    }

    .product-box ul li {
        margin-left: 5%;
    }

    .product-box .small-icon {
        margin-right: 5px;
    }

    form {
        margin-left: 20%;
    }
}

/*Small phone to small tablets*/
@media screen and (max-width: 767px) {

}

@media screen and (max-width: 480px) {

}